In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
from config import api_key
from functools import reduce


api_key = "3a577fa8be5affaef548e14483f7bc3338a99541"
c = Census(api_key, year=2015)

In [2]:
census_data = c.acs5.state(("NAME","B19013_001E"), Census.ALL)

In [3]:
census_pd = pd.DataFrame(census_data)
census_pd = census_pd.rename(columns={"B19013_001E": "Household Income 2015",
                                     "NAME": "State","state": "State ID"})
census_pd

                   State  Household Income 2015 State ID
0            Mississippi                39665.0       28
1               Missouri                48173.0       29
2                Montana                47169.0       30
3               Nebraska                52997.0       31
4                 Nevada                51847.0       32
5          New Hampshire                66779.0       33
6             New Jersey                72093.0       34
7             New Mexico                44963.0       35
8               New York                59269.0       36
9         North Carolina                46868.0       37
10          North Dakota                57181.0       38
11                  Ohio                49429.0       39
12              Oklahoma                46879.0       40
13                Oregon                51243.0       41
14          Pennsylvania                53599.0       42
15          Rhode Island                56852.0       44
16        South Carolina                45483.0       45
17          South Dakota                50957.0       46
18             Tennessee                45219.0       47
19                 Texas                53207.0       48
20               Vermont                55176.0       50
21                  Utah                60727.0       49
22              Virginia                65015.0       51
23            Washington                61062.0       53
24         West Virginia                41751.0       54
25             Wisconsin                53357.0       55
26               Wyoming                58840.0       56
27           Puerto Rico                19350.0       72
28               Alabama                43623.0       01
29                Alaska                72515.0       02
30               Arizona                50255.0       04
31              Arkansas                41371.0       05
32            California                61818.0       06
33              Colorado                60629.0       08
34              Delaware                60509.0       10
35  District of Columbia                70848.0       11
36           Connecticut                70331.0       09
37               Florida                47507.0       12
38               Georgia                49620.0       13
39                 Idaho                47583.0       16
40                Hawaii                69515.0       15
41              Illinois                57574.0       17
42               Indiana                49255.0       18
43                  Iowa                53183.0       19
44                Kansas                52205.0       20
45              Kentucky                43740.0       21
46             Louisiana                45047.0       22
47                 Maine                49331.0       23
48              Maryland                74551.0       24
49         Massachusetts                68563.0       25
50              Michigan                49576.0       26
51             Minnesota                61492.0       27

In [4]:
c = Census(api_key, year=2016)
census_data1 = c.acs5.state(("NAME", "B19013_001E"), Census.ALL)

census_pd1 = pd.DataFrame(census_data1)
census_pd1 = census_pd1.rename(columns={"B19013_001E": "Household Income 2016",
                                     "NAME": "State","state": "State ID"})
census_pd1

                   State  Household Income 2016 State ID
0            Mississippi                40528.0       28
1               Missouri                49593.0       29
2                Montana                48380.0       30
3               Nebraska                54384.0       31
4                 Nevada                53094.0       32
5          New Hampshire                68485.0       33
6             New Jersey                73702.0       34
7             New Mexico                45674.0       35
8               New York                60741.0       36
9         North Carolina                48256.0       37
10          North Dakota                59114.0       38
11                  Ohio                50674.0       39
12              Oklahoma                48038.0       40
13                Oregon                53270.0       41
14          Pennsylvania                54895.0       42
15          Rhode Island                58387.0       44
16        South Carolina                46898.0       45
17          South Dakota                52078.0       46
18             Tennessee                46574.0       47
19                 Texas                54727.0       48
20               Vermont                56104.0       50
21                  Utah                62518.0       49
22              Virginia                66149.0       51
23            Washington                62848.0       53
24         West Virginia                42644.0       54
25             Wisconsin                54610.0       55
26               Wyoming                59143.0       56
27           Puerto Rico                19606.0       72
28               Alabama                44758.0       01
29                Alaska                74444.0       02
30               Arizona                51340.0       04
31              Arkansas                42336.0       05
32            California                63783.0       06
33              Colorado                62520.0       08
34              Delaware                61017.0       10
35  District of Columbia                72935.0       11
36           Connecticut                71755.0       09
37               Florida                48900.0       12
38               Georgia                51037.0       13
39                 Idaho                49174.0       16
40                Hawaii                71977.0       15
41              Illinois                59196.0       17
42               Indiana                50433.0       18
43                  Iowa                54570.0       19
44                Kansas                53571.0       20
45              Kentucky                44811.0       21
46             Louisiana                45652.0       22
47                 Maine                50826.0       23
48              Maryland                76067.0       24
49         Massachusetts                70954.0       25
50              Michigan                50803.0       26
51             Minnesota                63217.0       27

In [5]:
c = Census(api_key, year=2017)
census_data2 = c.acs5.state(("NAME", "B19013_001E"), Census.ALL)

census_pd2 = pd.DataFrame(census_data2)
census_pd2 = census_pd2.rename(columns={"B19013_001E": "Household Income 2017",
                                     "NAME": "State","state": "State ID"})
census_pd2

                   State  Household Income 2017 State ID
0            Mississippi                42009.0       28
1               Missouri                51542.0       29
2                Montana                50801.0       30
3               Nebraska                56675.0       31
4                 Nevada                55434.0       32
5          New Hampshire                71305.0       33
6             New Jersey                76475.0       34
7             New Mexico                46718.0       35
8                Alabama                46472.0       01
9                 Alaska                76114.0       02
10               Arizona                53510.0       04
11              Arkansas                43813.0       05
12            California                67169.0       06
13              New York                62765.0       36
14        North Carolina                50320.0       37
15          North Dakota                61285.0       38
16                  Ohio                52407.0       39
17              Oklahoma                49767.0       40
18                Oregon                56119.0       41
19          Pennsylvania                56951.0       42
20          Rhode Island                61043.0       44
21        South Carolina                48781.0       45
22          South Dakota                54126.0       46
23             Tennessee                48708.0       47
24                 Texas                57051.0       48
25               Vermont                57808.0       50
26                  Utah                65325.0       49
27              Virginia                68766.0       51
28            Washington                66174.0       53
29         West Virginia                44061.0       54
30             Wisconsin                56759.0       55
31               Wyoming                60938.0       56
32           Puerto Rico                19775.0       72
33              Delaware                63036.0       10
34  District of Columbia                77649.0       11
35           Connecticut                73781.0       09
36               Florida                50883.0       12
37               Georgia                52977.0       13
38                 Idaho                50985.0       16
39                Hawaii                74923.0       15
40              Illinois                61229.0       17
41               Indiana                52182.0       18
42                  Iowa                56570.0       19
43                Kansas                55477.0       20
44              Kentucky                46535.0       21
45             Louisiana                46710.0       22
46                 Maine                53024.0       23
47              Maryland                78916.0       24
48         Massachusetts                74167.0       25
49              Michigan                52668.0       26
50             Minnesota                65699.0       27
51              Colorado                65458.0       08

In [6]:
c = Census(api_key, year=2018)
census_data3 = c.acs5.state(("NAME", "B19013_001E"), Census.ALL)

census_pd3 = pd.DataFrame(census_data3)
census_pd3 = census_pd3.rename(columns={"B19013_001E": "Household Income 2018",
                                     "NAME": "State","state": "State ID"})
census_pd3

                   State  Household Income 2018 State ID
0            Mississippi                43567.0       28
1               Missouri                53560.0       29
2                Montana                52559.0       30
3               Nebraska                59116.0       31
4                 Nevada                57598.0       32
5          New Hampshire                74057.0       33
6             New Jersey                79363.0       34
7             New Mexico                48059.0       35
8               New York                65323.0       36
9         North Carolina                52413.0       37
10          North Dakota                63473.0       38
11                  Ohio                54533.0       39
12              Oklahoma                51424.0       40
13                Oregon                59393.0       41
14          Pennsylvania                59445.0       42
15          Rhode Island                63296.0       44
16        South Carolina                51015.0       45
17          South Dakota                56499.0       46
18             Tennessee                50972.0       47
19                 Texas                59570.0       48
20               Vermont                60076.0       50
21                  Utah                68374.0       49
22              Virginia                71564.0       51
23            Washington                70116.0       53
24         West Virginia                44921.0       54
25             Wisconsin                59209.0       55
26               Wyoming                62268.0       56
27           Puerto Rico                20166.0       72
28               Alabama                48486.0       01
29                Alaska                76715.0       02
30               Arizona                56213.0       04
31              Arkansas                45726.0       05
32            California                71228.0       06
33              Colorado                68811.0       08
34              Delaware                65627.0       10
35  District of Columbia                82604.0       11
36           Connecticut                76106.0       09
37               Florida                53267.0       12
38               Georgia                55679.0       13
39                 Idaho                53089.0       16
40                Hawaii                78084.0       15
41              Illinois                63575.0       17
42               Indiana                54325.0       18
43                  Iowa                58580.0       19
44                Kansas                57422.0       20
45              Kentucky                48392.0       21
46             Louisiana                47942.0       22
47                 Maine                55425.0       23
48              Maryland                81868.0       24
49         Massachusetts                77378.0       25
50              Michigan                54938.0       26
51             Minnesota                68411.0       27

In [7]:
final_census = [census_pd, census_pd1, census_pd2, census_pd3]

df_final = reduce(lambda inner,outer: pd.merge(inner,outer,on='State'), final_census)
df_final

,State,Household Income 2015,State ID_x,Household Income 2016,State ID_y,Household Income 2017,State ID_x,Household Income 2018,State ID_y
0,Mississippi,39665.0,28,40528.0,28,42009.0,28,43567.0,28
1,Missouri,48173.0,29,49593.0,29,51542.0,29,53560.0,29
2,Montana,47169.0,30,48380.0,30,50801.0,30,52559.0,30
3,Nebraska,52997.0,31,54384.0,31,56675.0,31,59116.0,31
4,Nevada,51847.0,32,53094.0,32,55434.0,32,57598.0,32
5,New Hampshire,66779.0,33,68485.0,33,71305.0,33,74057.0,33
6,New Jersey,72093.0,34,73702.0,34,76475.0,34,79363.0,34
7,New Mexico,44963.0,35,45674.0,35,46718.0,35,48059.0,35
8,New York,59269.0,36,60741.0,36,62765.0,36,65323.0,36
9,North Carolina,46868.0,37,48256.0,37,50320.0,37,52413.0,37
10,North Dakota,57181.0,38,59114.0,38,61285.0,38,63473.0,38
11,Ohio,49429.0,39,50674.0,39,52407.0,39,54533.0,39
12,Oklahoma,46879.0,40,48038.0,40,49767.0,40,51424.0,40
13,Oregon,51243.0,41,53270.0,41,56119.0,41,59393.0,41
14,Pennsylvania,53599.0,42,54895.0,42,56951.0,42,59445.0,42
15,Rhode Island,56852.0,44,58387.0,44,61043.0,44,63296.0,44
16,South Carolina,45483.0,45,46898.0,45,48781.0,45,51015.0,45
17,South Dakota,50957.0,46,52078.0,46,54126.0,46,56499.0,46
18,Tennessee,45219.0,47,46574.0,47,48708.0,47,50972.0,47
19,Texas,53207.0,48,54727.0,48,57051.0,48,59570.0,48
20,Vermont,55176.0,50,56104.0,50,57808.0,50,60076.0,50
21,Utah,60727.0,49,62518.0,49,65325.0,49,68374.0,49
22,Virginia,65015.0,51,66149.0,51,68766.0,51,71564.0,51
23,Washington,61062.0,53,62848.0,53,66174.0,53,70116.0,53
24,West Virginia,41751.0,54,42644.0,54,44061.0,54,44921.0,54
25,Wisconsin,53357.0,55,54610.0,55,56759.0,55,59209.0,55
26,Wyoming,58840.0,56,59143.0,56,60938.0,56,62268.0,56
27,Puerto Rico,19350.0,72,19606.0,72,19775.0,72,20166.0,72
28,Alabama,43623.0,01,44758.0,01,46472.0,01,48486.0,01
29,Alaska,72515.0,02,74444.0,02,76114.0,02,76715.0,02
30,Arizona,50255.0,04,51340.0,04,53510.0,04,56213.0,04
31,Arkansas,41371.0,05,42336.0,05,43813.0,05,45726.0,05
32,California,61818.0,06,63783.0,06,67169.0,06,71228.0,06
33,Colorado,60629.0,08,62520.0,08,65458.0,08,68811.0,08
34,Delaware,60509.0,10,61017.0,10,63036.0,10,65627.0,10
35,District of Columbia,70848.0,11,72935.0,11,77649.0,11,82604.0,11
36,Connecticut,70331.0,09,71755.0,09,73781.0,09,76106.0,09
37,Florida,47507.0,12,48900.0,12,50883.0,12,53267.0,12
38,Georgia,49620.0,13,51037.0,13,52977.0,13,55679.0,13
39,Idaho,47583.0,16,49174.0,16,50985.0,16,53089.0,16
40,Hawaii,69515.0,15,71977.0,15,74923.0,15,78084.0,15
41,Illinois,57574.0,17,59196.0,17,61229.0,17,63575.0,17
42,Indiana,49255.0,18,50433.0,18,52182.0,18,54325.0,18
43,Iowa,53183.0,19,54570.0,19,56570.0,19,58580.0,19
44,Kansas,52205.0,20,53571.0,20,55477.0,20,57422.0,20
45,Kentucky,43740.0,21,44811.0,21,46535.0,21,48392.0,21
46,Louisiana,45047.0,22,45652.0,22,46710.0,22,47942.0,22
47,Maine,49331.0,23,50826.0,23,53024.0,23,55425.0,23
48,Maryland,74551.0,24,76067.0,24,78916.0,24,81868.0,24
49,Massachusetts,68563.0,25,70954.0,25,74167.0,25,77378.0,25
50,Michigan,49576.0,26,50803.0,26,52668.0,26,54938.0,26
51,Minnesota,61492.0,27,63217.0,27,65699.0,27,68411.0,27

In [8]:
df_final.drop(columns=['State ID_x'], axis=1, inplace=True)
df_final

,State,Household Income 2015,Household Income 2016,State ID_y,Household Income 2017,Household Income 2018,State ID_y
0,Mississippi,39665.0,40528.0,28,42009.0,43567.0,28
1,Missouri,48173.0,49593.0,29,51542.0,53560.0,29
2,Montana,47169.0,48380.0,30,50801.0,52559.0,30
3,Nebraska,52997.0,54384.0,31,56675.0,59116.0,31
4,Nevada,51847.0,53094.0,32,55434.0,57598.0,32
5,New Hampshire,66779.0,68485.0,33,71305.0,74057.0,33
6,New Jersey,72093.0,73702.0,34,76475.0,79363.0,34
7,New Mexico,44963.0,45674.0,35,46718.0,48059.0,35
8,New York,59269.0,60741.0,36,62765.0,65323.0,36
9,North Carolina,46868.0,48256.0,37,50320.0,52413.0,37
10,North Dakota,57181.0,59114.0,38,61285.0,63473.0,38
11,Ohio,49429.0,50674.0,39,52407.0,54533.0,39
12,Oklahoma,46879.0,48038.0,40,49767.0,51424.0,40
13,Oregon,51243.0,53270.0,41,56119.0,59393.0,41
14,Pennsylvania,53599.0,54895.0,42,56951.0,59445.0,42
15,Rhode Island,56852.0,58387.0,44,61043.0,63296.0,44
16,South Carolina,45483.0,46898.0,45,48781.0,51015.0,45
17,South Dakota,50957.0,52078.0,46,54126.0,56499.0,46
18,Tennessee,45219.0,46574.0,47,48708.0,50972.0,47
19,Texas,53207.0,54727.0,48,57051.0,59570.0,48
20,Vermont,55176.0,56104.0,50,57808.0,60076.0,50
21,Utah,60727.0,62518.0,49,65325.0,68374.0,49
22,Virginia,65015.0,66149.0,51,68766.0,71564.0,51
23,Washington,61062.0,62848.0,53,66174.0,70116.0,53
24,West Virginia,41751.0,42644.0,54,44061.0,44921.0,54
25,Wisconsin,53357.0,54610.0,55,56759.0,59209.0,55
26,Wyoming,58840.0,59143.0,56,60938.0,62268.0,56
27,Puerto Rico,19350.0,19606.0,72,19775.0,20166.0,72
28,Alabama,43623.0,44758.0,01,46472.0,48486.0,01
29,Alaska,72515.0,74444.0,02,76114.0,76715.0,02
30,Arizona,50255.0,51340.0,04,53510.0,56213.0,04
31,Arkansas,41371.0,42336.0,05,43813.0,45726.0,05
32,California,61818.0,63783.0,06,67169.0,71228.0,06
33,Colorado,60629.0,62520.0,08,65458.0,68811.0,08
34,Delaware,60509.0,61017.0,10,63036.0,65627.0,10
35,District of Columbia,70848.0,72935.0,11,77649.0,82604.0,11
36,Connecticut,70331.0,71755.0,09,73781.0,76106.0,09
37,Florida,47507.0,48900.0,12,50883.0,53267.0,12
38,Georgia,49620.0,51037.0,13,52977.0,55679.0,13
39,Idaho,47583.0,49174.0,16,50985.0,53089.0,16
40,Hawaii,69515.0,71977.0,15,74923.0,78084.0,15
41,Illinois,57574.0,59196.0,17,61229.0,63575.0,17
42,Indiana,49255.0,50433.0,18,52182.0,54325.0,18
43,Iowa,53183.0,54570.0,19,56570.0,58580.0,19
44,Kansas,52205.0,53571.0,20,55477.0,57422.0,20
45,Kentucky,43740.0,44811.0,21,46535.0,48392.0,21
46,Louisiana,45047.0,45652.0,22,46710.0,47942.0,22
47,Maine,49331.0,50826.0,23,53024.0,55425.0,23
48,Maryland,74551.0,76067.0,24,78916.0,81868.0,24
49,Massachusetts,68563.0,70954.0,25,74167.0,77378.0,25
50,Michigan,49576.0,50803.0,26,52668.0,54938.0,26
51,Minnesota,61492.0,63217.0,27,65699.0,68411.0,27

In [9]:
df_final.drop(columns=['State ID_y'], axis=1, inplace=True)
df_final

,State,Household Income 2015,Household Income 2016,Household Income 2017,Household Income 2018
0,Mississippi,39665.0,40528.0,42009.0,43567.0
1,Missouri,48173.0,49593.0,51542.0,53560.0
2,Montana,47169.0,48380.0,50801.0,52559.0
3,Nebraska,52997.0,54384.0,56675.0,59116.0
4,Nevada,51847.0,53094.0,55434.0,57598.0
5,New Hampshire,66779.0,68485.0,71305.0,74057.0
6,New Jersey,72093.0,73702.0,76475.0,79363.0
7,New Mexico,44963.0,45674.0,46718.0,48059.0
8,New York,59269.0,60741.0,62765.0,65323.0
9,North Carolina,46868.0,48256.0,50320.0,52413.0
10,North Dakota,57181.0,59114.0,61285.0,63473.0
11,Ohio,49429.0,50674.0,52407.0,54533.0
12,Oklahoma,46879.0,48038.0,49767.0,51424.0
13,Oregon,51243.0,53270.0,56119.0,59393.0
14,Pennsylvania,53599.0,54895.0,56951.0,59445.0
15,Rhode Island,56852.0,58387.0,61043.0,63296.0
16,South Carolina,45483.0,46898.0,48781.0,51015.0
17,South Dakota,50957.0,52078.0,54126.0,56499.0
18,Tennessee,45219.0,46574.0,48708.0,50972.0
19,Texas,53207.0,54727.0,57051.0,59570.0
20,Vermont,55176.0,56104.0,57808.0,60076.0
21,Utah,60727.0,62518.0,65325.0,68374.0
22,Virginia,65015.0,66149.0,68766.0,71564.0
23,Washington,61062.0,62848.0,66174.0,70116.0
24,West Virginia,41751.0,42644.0,44061.0,44921.0
25,Wisconsin,53357.0,54610.0,56759.0,59209.0
26,Wyoming,58840.0,59143.0,60938.0,62268.0
27,Puerto Rico,19350.0,19606.0,19775.0,20166.0
28,Alabama,43623.0,44758.0,46472.0,48486.0
29,Alaska,72515.0,74444.0,76114.0,76715.0
30,Arizona,50255.0,51340.0,53510.0,56213.0
31,Arkansas,41371.0,42336.0,43813.0,45726.0
32,California,61818.0,63783.0,67169.0,71228.0
33,Colorado,60629.0,62520.0,65458.0,68811.0
34,Delaware,60509.0,61017.0,63036.0,65627.0
35,District of Columbia,70848.0,72935.0,77649.0,82604.0
36,Connecticut,70331.0,71755.0,73781.0,76106.0
37,Florida,47507.0,48900.0,50883.0,53267.0
38,Georgia,49620.0,51037.0,52977.0,55679.0
39,Idaho,47583.0,49174.0,50985.0,53089.0
40,Hawaii,69515.0,71977.0,74923.0,78084.0
41,Illinois,57574.0,59196.0,61229.0,63575.0
42,Indiana,49255.0,50433.0,52182.0,54325.0
43,Iowa,53183.0,54570.0,56570.0,58580.0
44,Kansas,52205.0,53571.0,55477.0,57422.0
45,Kentucky,43740.0,44811.0,46535.0,48392.0
46,Louisiana,45047.0,45652.0,46710.0,47942.0
47,Maine,49331.0,50826.0,53024.0,55425.0
48,Maryland,74551.0,76067.0,78916.0,81868.0
49,Massachusetts,68563.0,70954.0,74167.0,77378.0
50,Michigan,49576.0,50803.0,52668.0,54938.0
51,Minnesota,61492.0,63217.0,65699.0,68411.0

In [13]:
df_final.to_csv("//users//moz//Project-one-//Resources//Census_Household_Income.csv")

In [14]:
pwd

'/Users/moz/emer-virt-data-pt-03-2021-u-c/Unit 6 - Python-APIs/Class 3/Activities/08-Ins_Census/Solved'

In [15]:
c = Census(api_key, year=2015)
census_data = c.acs5.state(("NAME","B01003_001E"), Census.ALL)
census_pd_pop = pd.DataFrame(census_data)
census_pd_pop = census_pd_pop.rename(columns={"B01003_001E": "US Population 2015",
                                              "NAME": "State","state": "State ID"})
census_pd_pop

                   State  US Population 2015 State ID
0            Mississippi           2988081.0       28
1               Missouri           6045448.0       29
2                Montana           1014699.0       30
3               Nebraska           1869365.0       31
4                 Nevada           2798636.0       32
5          New Hampshire           1324201.0       33
6             New Jersey           8904413.0       34
7             New Mexico           2084117.0       35
8               New York          19673174.0       36
9         North Carolina           9845333.0       37
10          North Dakota            721640.0       38
11                  Ohio          11575977.0       39
12              Oklahoma           3849733.0       40
13                Oregon           3939233.0       41
14          Pennsylvania          12779559.0       42
15          Rhode Island           1053661.0       44
16        South Carolina           4777576.0       45
17          South Dakota            843190.0       46
18             Tennessee           6499615.0       47
19                 Texas          26538614.0       48
20               Vermont            626604.0       50
21                  Utah           2903379.0       49
22              Virginia           8256630.0       51
23            Washington           6985464.0       53
24         West Virginia           1851420.0       54
25             Wisconsin           5742117.0       55
26               Wyoming            579679.0       56
27           Puerto Rico           3583073.0       72
28               Alabama           4830620.0       01
29                Alaska            733375.0       02
30               Arizona           6641928.0       04
31              Arkansas           2958208.0       05
32            California          38421464.0       06
33              Colorado           5278906.0       08
34              Delaware            926454.0       10
35  District of Columbia            647484.0       11
36           Connecticut           3593222.0       09
37               Florida          19645772.0       12
38               Georgia          10006693.0       13
39                 Idaho           1616547.0       16
40                Hawaii           1406299.0       15
41              Illinois          12873761.0       17
42               Indiana           6568645.0       18
43                  Iowa           3093526.0       19
44                Kansas           2892987.0       20
45              Kentucky           4397353.0       21
46             Louisiana           4625253.0       22
47                 Maine           1329100.0       23
48              Maryland           5930538.0       24
49         Massachusetts           6705586.0       25
50              Michigan           9900571.0       26
51             Minnesota           5419171.0       27

In [16]:
c = Census(api_key, year=2016)
census_data = c.acs5.state(("NAME","B01003_001E"), Census.ALL)
census_pd_pop1 = pd.DataFrame(census_data)
census_pd_pop1 = census_pd_pop1.rename(columns={"B01003_001E": "US Population 2016",
                                                "NAME": "State","state": "State ID"})
census_pd_pop1

                   State  US Population 2016 State ID
0            Mississippi           2989192.0       28
1               Missouri           6059651.0       29
2                Montana           1023391.0       30
3               Nebraska           1881259.0       31
4                 Nevada           2839172.0       32
5          New Hampshire           1327503.0       33
6             New Jersey           8915456.0       34
7             New Mexico           2082669.0       35
8               New York          19697457.0       36
9         North Carolina           9940828.0       37
10          North Dakota            736162.0       38
11                  Ohio          11586941.0       39
12              Oklahoma           3875589.0       40
13                Oregon           3982267.0       41
14          Pennsylvania          12783977.0       42
15          Rhode Island           1054491.0       44
16        South Carolina           4834605.0       45
17          South Dakota            851058.0       46
18             Tennessee           6548009.0       47
19                 Texas          26956435.0       48
20               Vermont            626249.0       50
21                  Utah           2948427.0       49
22              Virginia           8310301.0       51
23            Washington           7073146.0       53
24         West Virginia           1846092.0       54
25             Wisconsin           5754798.0       55
26               Wyoming            583029.0       56
27           Puerto Rico           3529385.0       72
28               Alabama           4841164.0       01
29                Alaska            736855.0       02
30               Arizona           6728577.0       04
31              Arkansas           2968472.0       05
32            California          38654206.0       06
33              Colorado           5359295.0       08
34              Delaware            934695.0       10
35  District of Columbia            659009.0       11
36           Connecticut           3588570.0       09
37               Florida          19934451.0       12
38               Georgia          10099320.0       13
39                 Idaho           1635483.0       16
40                Hawaii           1413673.0       15
41              Illinois          12851684.0       17
42               Indiana           6589578.0       18
43                  Iowa           3106589.0       19
44                Kansas           2898292.0       20
45              Kentucky           4411989.0       21
46             Louisiana           4645670.0       22
47                 Maine           1329923.0       23
48              Maryland           5959902.0       24
49         Massachusetts           6742143.0       25
50              Michigan           9909600.0       26
51             Minnesota           5450868.0       27

In [17]:
c = Census(api_key, year=2017)
census_data = c.acs5.state(("NAME","B01003_001E"), Census.ALL)
census_pd_pop2 = pd.DataFrame(census_data)
census_pd_pop2 = census_pd_pop2.rename(columns={"B01003_001E": "US Population 2017",
                                                "NAME": "State","state": "State ID"})
census_pd_pop2

                   State  US Population 2017 State ID
0            Mississippi           2986220.0       28
1               Missouri           6075300.0       29
2                Montana           1029862.0       30
3               Nebraska           1893921.0       31
4                 Nevada           2887725.0       32
5          New Hampshire           1331848.0       33
6             New Jersey           8960161.0       34
7             New Mexico           2084828.0       35
8                Alabama           4850771.0       01
9                 Alaska            738565.0       02
10               Arizona           6809946.0       04
11              Arkansas           2977944.0       05
12            California          38982847.0       06
13              New York          19798228.0       36
14        North Carolina          10052564.0       37
15          North Dakota            745475.0       38
16                  Ohio          11609756.0       39
17              Oklahoma           3896251.0       40
18                Oregon           4025127.0       41
19          Pennsylvania          12790505.0       42
20          Rhode Island           1056138.0       44
21        South Carolina           4893444.0       45
22          South Dakota            855444.0       46
23             Tennessee           6597381.0       47
24                 Texas          27419612.0       48
25               Vermont            624636.0       50
26                  Utah           2993941.0       49
27              Virginia           8365952.0       51
28            Washington           7169967.0       53
29         West Virginia           1836843.0       54
30             Wisconsin           5763217.0       55
31               Wyoming            583200.0       56
32           Puerto Rico           3468963.0       72
33              Delaware            943732.0       10
34  District of Columbia            672391.0       11
35           Connecticut           3594478.0       09
36               Florida          20278447.0       12
37               Georgia          10201635.0       13
38                 Idaho           1657375.0       16
39                Hawaii           1421658.0       15
40              Illinois          12854526.0       17
41               Indiana           6614418.0       18
42                  Iowa           3118102.0       19
43                Kansas           2903820.0       20
44              Kentucky           4424376.0       21
45             Louisiana           4663461.0       22
46                 Maine           1330158.0       23
47              Maryland           5996079.0       24
48         Massachusetts           6789319.0       25
49              Michigan           9925568.0       26
50             Minnesota           5490726.0       27
51              Colorado           5436519.0       08

In [18]:
c = Census(api_key, year=2018)
census_data = c.acs5.state(("NAME","B01003_001E"), Census.ALL)
census_pd_pop3 = pd.DataFrame(census_data)
census_pd_pop3 = census_pd_pop3.rename(columns={"B01003_001E": "US Population 2018",
                                                "NAME": "State","state": "State ID"})
census_pd_pop3

                   State  US Population 2018 State ID
0            Mississippi           2988762.0       28
1               Missouri           6090062.0       29
2                Montana           1041732.0       30
3               Nebraska           1904760.0       31
4                 Nevada           2922849.0       32
5          New Hampshire           1343622.0       33
6             New Jersey           8881845.0       34
7             New Mexico           2092434.0       35
8               New York          19618453.0       36
9         North Carolina          10155624.0       37
10          North Dakota            752201.0       38
11                  Ohio          11641879.0       39
12              Oklahoma           3918137.0       40
13                Oregon           4081943.0       41
14          Pennsylvania          12791181.0       42
15          Rhode Island           1056611.0       44
16        South Carolina           4955925.0       45
17          South Dakota            864289.0       46
18             Tennessee           6651089.0       47
19                 Texas          27885195.0       48
20               Vermont            624977.0       50
21                  Utah           3045350.0       49
22              Virginia           8413774.0       51
23            Washington           7294336.0       53
24         West Virginia           1829054.0       54
25             Wisconsin           5778394.0       55
26               Wyoming            581836.0       56
27           Puerto Rico           3386941.0       72
28               Alabama           4864680.0       01
29                Alaska            738516.0       02
30               Arizona           6946685.0       04
31              Arkansas           2990671.0       05
32            California          39148760.0       06
33              Colorado           5531141.0       08
34              Delaware            949495.0       10
35  District of Columbia            684498.0       11
36           Connecticut           3581504.0       09
37               Florida          20598139.0       12
38               Georgia          10297484.0       13
39                 Idaho           1687809.0       16
40                Hawaii           1422029.0       15
41              Illinois          12821497.0       17
42               Indiana           6637426.0       18
43                  Iowa           3132499.0       19
44                Kansas           2908776.0       20
45              Kentucky           4440204.0       21
46             Louisiana           4663616.0       22
47                 Maine           1332813.0       23
48              Maryland           6003435.0       24
49         Massachusetts           6830193.0       25
50              Michigan           9957488.0       26
51             Minnesota           5527358.0       27

In [19]:
final_census_pop = [census_pd_pop, census_pd_pop1, census_pd_pop2, census_pd_pop3]

df_final_pop = reduce(lambda inner,outer: pd.merge(inner,outer,on='State'), final_census_pop)
df_final_pop

,State,US Population 2015,State ID_x,US Population 2016,State ID_y,US Population 2017,State ID_x,US Population 2018,State ID_y
0,Mississippi,2988081.0,28,2989192.0,28,2986220.0,28,2988762.0,28
1,Missouri,6045448.0,29,6059651.0,29,6075300.0,29,6090062.0,29
2,Montana,1014699.0,30,1023391.0,30,1029862.0,30,1041732.0,30
3,Nebraska,1869365.0,31,1881259.0,31,1893921.0,31,1904760.0,31
4,Nevada,2798636.0,32,2839172.0,32,2887725.0,32,2922849.0,32
5,New Hampshire,1324201.0,33,1327503.0,33,1331848.0,33,1343622.0,33
6,New Jersey,8904413.0,34,8915456.0,34,8960161.0,34,8881845.0,34
7,New Mexico,2084117.0,35,2082669.0,35,2084828.0,35,2092434.0,35
8,New York,19673174.0,36,19697457.0,36,19798228.0,36,19618453.0,36
9,North Carolina,9845333.0,37,9940828.0,37,10052564.0,37,10155624.0,37
10,North Dakota,721640.0,38,736162.0,38,745475.0,38,752201.0,38
11,Ohio,11575977.0,39,11586941.0,39,11609756.0,39,11641879.0,39
12,Oklahoma,3849733.0,40,3875589.0,40,3896251.0,40,3918137.0,40
13,Oregon,3939233.0,41,3982267.0,41,4025127.0,41,4081943.0,41
14,Pennsylvania,12779559.0,42,12783977.0,42,12790505.0,42,12791181.0,42
15,Rhode Island,1053661.0,44,1054491.0,44,1056138.0,44,1056611.0,44
16,South Carolina,4777576.0,45,4834605.0,45,4893444.0,45,4955925.0,45
17,South Dakota,843190.0,46,851058.0,46,855444.0,46,864289.0,46
18,Tennessee,6499615.0,47,6548009.0,47,6597381.0,47,6651089.0,47
19,Texas,26538614.0,48,26956435.0,48,27419612.0,48,27885195.0,48
20,Vermont,626604.0,50,626249.0,50,624636.0,50,624977.0,50
21,Utah,2903379.0,49,2948427.0,49,2993941.0,49,3045350.0,49
22,Virginia,8256630.0,51,8310301.0,51,8365952.0,51,8413774.0,51
23,Washington,6985464.0,53,7073146.0,53,7169967.0,53,7294336.0,53
24,West Virginia,1851420.0,54,1846092.0,54,1836843.0,54,1829054.0,54
25,Wisconsin,5742117.0,55,5754798.0,55,5763217.0,55,5778394.0,55
26,Wyoming,579679.0,56,583029.0,56,583200.0,56,581836.0,56
27,Puerto Rico,3583073.0,72,3529385.0,72,3468963.0,72,3386941.0,72
28,Alabama,4830620.0,01,4841164.0,01,4850771.0,01,4864680.0,01
29,Alaska,733375.0,02,736855.0,02,738565.0,02,738516.0,02
30,Arizona,6641928.0,04,6728577.0,04,6809946.0,04,6946685.0,04
31,Arkansas,2958208.0,05,2968472.0,05,2977944.0,05,2990671.0,05
32,California,38421464.0,06,38654206.0,06,38982847.0,06,39148760.0,06
33,Colorado,5278906.0,08,5359295.0,08,5436519.0,08,5531141.0,08
34,Delaware,926454.0,10,934695.0,10,943732.0,10,949495.0,10
35,District of Columbia,647484.0,11,659009.0,11,672391.0,11,684498.0,11
36,Connecticut,3593222.0,09,3588570.0,09,3594478.0,09,3581504.0,09
37,Florida,19645772.0,12,19934451.0,12,20278447.0,12,20598139.0,12
38,Georgia,10006693.0,13,10099320.0,13,10201635.0,13,10297484.0,13
39,Idaho,1616547.0,16,1635483.0,16,1657375.0,16,1687809.0,16
40,Hawaii,1406299.0,15,1413673.0,15,1421658.0,15,1422029.0,15
41,Illinois,12873761.0,17,12851684.0,17,12854526.0,17,12821497.0,17
42,Indiana,6568645.0,18,6589578.0,18,6614418.0,18,6637426.0,18
43,Iowa,3093526.0,19,3106589.0,19,3118102.0,19,3132499.0,19
44,Kansas,2892987.0,20,2898292.0,20,2903820.0,20,2908776.0,20
45,Kentucky,4397353.0,21,4411989.0,21,4424376.0,21,4440204.0,21
46,Louisiana,4625253.0,22,4645670.0,22,4663461.0,22,4663616.0,22
47,Maine,1329100.0,23,1329923.0,23,1330158.0,23,1332813.0,23
48,Maryland,5930538.0,24,5959902.0,24,5996079.0,24,6003435.0,24
49,Massachusetts,6705586.0,25,6742143.0,25,6789319.0,25,6830193.0,25
50,Michigan,9900571.0,26,9909600.0,26,9925568.0,26,9957488.0,26
51,Minnesota,5419171.0,27,5450868.0,27,5490726.0,27,5527358.0,27

In [20]:
df_final_pop.drop(columns=['State ID_x'], axis=1, inplace=True)
df_final_pop

,State,US Population 2015,US Population 2016,State ID_y,US Population 2017,US Population 2018,State ID_y
0,Mississippi,2988081.0,2989192.0,28,2986220.0,2988762.0,28
1,Missouri,6045448.0,6059651.0,29,6075300.0,6090062.0,29
2,Montana,1014699.0,1023391.0,30,1029862.0,1041732.0,30
3,Nebraska,1869365.0,1881259.0,31,1893921.0,1904760.0,31
4,Nevada,2798636.0,2839172.0,32,2887725.0,2922849.0,32
5,New Hampshire,1324201.0,1327503.0,33,1331848.0,1343622.0,33
6,New Jersey,8904413.0,8915456.0,34,8960161.0,8881845.0,34
7,New Mexico,2084117.0,2082669.0,35,2084828.0,2092434.0,35
8,New York,19673174.0,19697457.0,36,19798228.0,19618453.0,36
9,North Carolina,9845333.0,9940828.0,37,10052564.0,10155624.0,37
10,North Dakota,721640.0,736162.0,38,745475.0,752201.0,38
11,Ohio,11575977.0,11586941.0,39,11609756.0,11641879.0,39
12,Oklahoma,3849733.0,3875589.0,40,3896251.0,3918137.0,40
13,Oregon,3939233.0,3982267.0,41,4025127.0,4081943.0,41
14,Pennsylvania,12779559.0,12783977.0,42,12790505.0,12791181.0,42
15,Rhode Island,1053661.0,1054491.0,44,1056138.0,1056611.0,44
16,South Carolina,4777576.0,4834605.0,45,4893444.0,4955925.0,45
17,South Dakota,843190.0,851058.0,46,855444.0,864289.0,46
18,Tennessee,6499615.0,6548009.0,47,6597381.0,6651089.0,47
19,Texas,26538614.0,26956435.0,48,27419612.0,27885195.0,48
20,Vermont,626604.0,626249.0,50,624636.0,624977.0,50
21,Utah,2903379.0,2948427.0,49,2993941.0,3045350.0,49
22,Virginia,8256630.0,8310301.0,51,8365952.0,8413774.0,51
23,Washington,6985464.0,7073146.0,53,7169967.0,7294336.0,53
24,West Virginia,1851420.0,1846092.0,54,1836843.0,1829054.0,54
25,Wisconsin,5742117.0,5754798.0,55,5763217.0,5778394.0,55
26,Wyoming,579679.0,583029.0,56,583200.0,581836.0,56
27,Puerto Rico,3583073.0,3529385.0,72,3468963.0,3386941.0,72
28,Alabama,4830620.0,4841164.0,01,4850771.0,4864680.0,01
29,Alaska,733375.0,736855.0,02,738565.0,738516.0,02
30,Arizona,6641928.0,6728577.0,04,6809946.0,6946685.0,04
31,Arkansas,2958208.0,2968472.0,05,2977944.0,2990671.0,05
32,California,38421464.0,38654206.0,06,38982847.0,39148760.0,06
33,Colorado,5278906.0,5359295.0,08,5436519.0,5531141.0,08
34,Delaware,926454.0,934695.0,10,943732.0,949495.0,10
35,District of Columbia,647484.0,659009.0,11,672391.0,684498.0,11
36,Connecticut,3593222.0,3588570.0,09,3594478.0,3581504.0,09
37,Florida,19645772.0,19934451.0,12,20278447.0,20598139.0,12
38,Georgia,10006693.0,10099320.0,13,10201635.0,10297484.0,13
39,Idaho,1616547.0,1635483.0,16,1657375.0,1687809.0,16
40,Hawaii,1406299.0,1413673.0,15,1421658.0,1422029.0,15
41,Illinois,12873761.0,12851684.0,17,12854526.0,12821497.0,17
42,Indiana,6568645.0,6589578.0,18,6614418.0,6637426.0,18
43,Iowa,3093526.0,3106589.0,19,3118102.0,3132499.0,19
44,Kansas,2892987.0,2898292.0,20,2903820.0,2908776.0,20
45,Kentucky,4397353.0,4411989.0,21,4424376.0,4440204.0,21
46,Louisiana,4625253.0,4645670.0,22,4663461.0,4663616.0,22
47,Maine,1329100.0,1329923.0,23,1330158.0,1332813.0,23
48,Maryland,5930538.0,5959902.0,24,5996079.0,6003435.0,24
49,Massachusetts,6705586.0,6742143.0,25,6789319.0,6830193.0,25
50,Michigan,9900571.0,9909600.0,26,9925568.0,9957488.0,26
51,Minnesota,5419171.0,5450868.0,27,5490726.0,5527358.0,27

In [21]:
df_final_pop.drop(columns=['State ID_y'], axis=1, inplace=True)
df_final_pop

,State,US Population 2015,US Population 2016,US Population 2017,US Population 2018
0,Mississippi,2988081.0,2989192.0,2986220.0,2988762.0
1,Missouri,6045448.0,6059651.0,6075300.0,6090062.0
2,Montana,1014699.0,1023391.0,1029862.0,1041732.0
3,Nebraska,1869365.0,1881259.0,1893921.0,1904760.0
4,Nevada,2798636.0,2839172.0,2887725.0,2922849.0
5,New Hampshire,1324201.0,1327503.0,1331848.0,1343622.0
6,New Jersey,8904413.0,8915456.0,8960161.0,8881845.0
7,New Mexico,2084117.0,2082669.0,2084828.0,2092434.0
8,New York,19673174.0,19697457.0,19798228.0,19618453.0
9,North Carolina,9845333.0,9940828.0,10052564.0,10155624.0
10,North Dakota,721640.0,736162.0,745475.0,752201.0
11,Ohio,11575977.0,11586941.0,11609756.0,11641879.0
12,Oklahoma,3849733.0,3875589.0,3896251.0,3918137.0
13,Oregon,3939233.0,3982267.0,4025127.0,4081943.0
14,Pennsylvania,12779559.0,12783977.0,12790505.0,12791181.0
15,Rhode Island,1053661.0,1054491.0,1056138.0,1056611.0
16,South Carolina,4777576.0,4834605.0,4893444.0,4955925.0
17,South Dakota,843190.0,851058.0,855444.0,864289.0
18,Tennessee,6499615.0,6548009.0,6597381.0,6651089.0
19,Texas,26538614.0,26956435.0,27419612.0,27885195.0
20,Vermont,626604.0,626249.0,624636.0,624977.0
21,Utah,2903379.0,2948427.0,2993941.0,3045350.0
22,Virginia,8256630.0,8310301.0,8365952.0,8413774.0
23,Washington,6985464.0,7073146.0,7169967.0,7294336.0
24,West Virginia,1851420.0,1846092.0,1836843.0,1829054.0
25,Wisconsin,5742117.0,5754798.0,5763217.0,5778394.0
26,Wyoming,579679.0,583029.0,583200.0,581836.0
27,Puerto Rico,3583073.0,3529385.0,3468963.0,3386941.0
28,Alabama,4830620.0,4841164.0,4850771.0,4864680.0
29,Alaska,733375.0,736855.0,738565.0,738516.0
30,Arizona,6641928.0,6728577.0,6809946.0,6946685.0
31,Arkansas,2958208.0,2968472.0,2977944.0,2990671.0
32,California,38421464.0,38654206.0,38982847.0,39148760.0
33,Colorado,5278906.0,5359295.0,5436519.0,5531141.0
34,Delaware,926454.0,934695.0,943732.0,949495.0
35,District of Columbia,647484.0,659009.0,672391.0,684498.0
36,Connecticut,3593222.0,3588570.0,3594478.0,3581504.0
37,Florida,19645772.0,19934451.0,20278447.0,20598139.0
38,Georgia,10006693.0,10099320.0,10201635.0,10297484.0
39,Idaho,1616547.0,1635483.0,1657375.0,1687809.0
40,Hawaii,1406299.0,1413673.0,1421658.0,1422029.0
41,Illinois,12873761.0,12851684.0,12854526.0,12821497.0
42,Indiana,6568645.0,6589578.0,6614418.0,6637426.0
43,Iowa,3093526.0,3106589.0,3118102.0,3132499.0
44,Kansas,2892987.0,2898292.0,2903820.0,2908776.0
45,Kentucky,4397353.0,4411989.0,4424376.0,4440204.0
46,Louisiana,4625253.0,4645670.0,4663461.0,4663616.0
47,Maine,1329100.0,1329923.0,1330158.0,1332813.0
48,Maryland,5930538.0,5959902.0,5996079.0,6003435.0
49,Massachusetts,6705586.0,6742143.0,6789319.0,6830193.0
50,Michigan,9900571.0,9909600.0,9925568.0,9957488.0
51,Minnesota,5419171.0,5450868.0,5490726.0,5527358.0

In [22]:
df_final_pop.to_csv("//users//moz//Project-one-//Resources//Census_total_population.csv")