In [2]:
# Dependencies
import matplotlib.pyplot as plt
import requests
from scipy import stats
import pandas as pd
from config import api_key

In [10]:
# Save config information.
location = "regional_weather_data_project-one-.csv"
reg_wth = pd.read_csv(location)


reg_wth.head()

clean_wth = reg_wth.dropna(axis = 'columns')
clean_wth.head()

,dt,dt_iso,timezone,state_name,lat,lon,temp,feels_like,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,1420070400,2015-01-01 00:00:00 +0000 UTC,-18000,Florida,27.664827,-81.515754,292.43,292.22,292.012,292.807,1023,86,3.63,22,100,804,Clouds,overcast clouds,04n
1,1420074000,2015-01-01 01:00:00 +0000 UTC,-18000,Florida,27.664827,-81.515754,292.34,292.19,291.866,292.786,1024,87,3.59,26,100,804,Clouds,overcast clouds,04n
2,1420077600,2015-01-01 02:00:00 +0000 UTC,-18000,Florida,27.664827,-81.515754,292.10,292.24,291.514,292.675,1024,90,3.35,29,100,804,Clouds,overcast clouds,04n
3,1420081200,2015-01-01 03:00:00 +0000 UTC,-18000,Florida,27.664827,-81.515754,292.14,292.44,291.529,292.755,1024,89,3.05,32,99,804,Clouds,overcast clouds,04n
4,1420084800,2015-01-01 04:00:00 +0000 UTC,-18000,Florida,27.664827,-81.515754,292.01,292.42,291.357,292.678,1023,91,3.02,24,100,804,Clouds,overcast clouds,04n

In [17]:
#Generate list of data layers wanted

states = reg_wth.state_name

# set up lists to hold reponse info
fl_df = reg_wth.loc[reg_wth.state_name == 'Florida']
ia_df = reg_wth.loc[reg_wth.state_name == 'Iowa']
az_df = reg_wth.loc[reg_wth.state_name == 'Arizona']
ny_df = reg_wth.loc[reg_wth.state_name == 'New York']
or_df = reg_wth.loc[reg_wth.state_name == 'Oregon']
tx_df = reg_wth.loc[reg_wth.state_name == 'Texas']